* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 80%;
    max-width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media only screen and (max-width: 400px){
   .chat-container {
    width: 100%;
       max-width: 100%;
   }
}

.chat-header {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.chat-body {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

.message,
.message-date{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.user-message {
    font-size: 12px;
    align-self: end;
    background-color: #0056b3;
    color: whitesmoke;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    align-items: center;
    alignment-baseline: after-edge;
        margin-left: 10%;
    max-width: 600px;
  word-wrap: break-word; /* Ensures long words/URLs wrap to the next line */
  overflow-wrap: break-word; /* Alternative for wider browser support */
  white-space: pre-wrap; /* Preserves spaces and breaks */
}

.other-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    border-radius: 20px 20px 20px 0;
    padding: 10px;
        margin-right: 10%;
}

.message-content {
    font-size: 14px;
}

.message-time {
    font-size: 10px;
    margin-top: 5px;
    color: #e9e9e9;
    align-self: flex-end;
}
.message-date{
    font-family: "Segoe UI", Tahoma, Geneva,Verdana, sans-serif;

    border-bottom: solid 1px #bdbdbd;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-radius: 1%;

    margin:10px auto;
}
.chat-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

#sendBtn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #0056b3;
}
